In [27]:
import pandas as pd
import sqlite3

In [29]:
con = sqlite3.connect("data.sqlite")

In [30]:
sql = "select * from authors"

In [34]:
df = pd.read_sql(sql, con, index_col = "id")

In [35]:
print(df)

     email institution   last_name first_name middle_name  \
id
1                           Matlin     Gerald
2                          Jenkins         A.
3                          Johnson    Randall
4                         Cardenas    Alfonso
5                          Bostrom     Robert
6                           Heinen         J.
7                          Johnson      James
8                            Kozar    Kenneth
9                             Ruch      David
10                           Kling        Rob
11                        Benbasat         I.
12                       Schroeder         R.
13                        Wetherbe        Jim
14                       Whitehead    Carlton
15                              B.      Peter
16                         Carlson       Eric
17                           Grace    Barbara
18                          Sutton      Jimmy
19                            Getz       C.W.
20                        Juergens       Hugh
21                        Danziger      James
22                           Munro     Malcom
23                           Davis     Gordon
24                       DeSanctis  Gerardine
25                           Franz    Charles
26                           Robey     Daniel
27                        Koeblitz     Robert
28                       Montazemi       A.R.
29                         Conrath       D.W.
30                        Benbasat       Izak
...    ...         ...         ...        ...         ...
1656                         Felix     Robert
1657                       Kriebel    Charles
1658                            De  Prabuddha
1659                           Sen       Arun
1660                          Jung       John
1661                        Foster   Lawrence
1662                         Flynn      David
1663                       Edwards      Chris
1664                        Mezger    Richard
1665                         Lewis      Byron
1666                         Crews     Albert
1667                      Courtney      James
1668                        Ballou     Donald
1669                          Tayi       Giri
1670                         Harel       Elie
1671                         Shank    Michael
1672                     Schilling      David
1673                    Srinivasan     Ananth
1674                     Dickinson    Charles
1675                     Kraushaar      James
1676                      Shirland      Larry
1677                          Kahn   Beverely
1678                      Vitalari   Nicholas
1679                      Rathwell   Margaret
1680                         Burns       Alan
1681                       Rackoff       Nick
1682                         Ph.D.    Charles
1683                    Hirschheim       R.A.
1684                        Janson     Marius
1685                         Smith         L.

                 full_name
id
1           Gerald//Matlin
2              A.//Jenkins
3         Randall//Johnson
4        Alfonso//Cardenas
5          Robert//Bostrom
6               J.//Heinen
7           James//Johnson
8           Kenneth//Kozar
9              David//Ruch
10              Rob//Kling
11            I.//Benbasat
12           R.//Schroeder
13           Jim//Wetherbe
14      Carlton//Whitehead
15               Peter//B.
16           Eric//Carlson
17          Barbara//Grace
18           Jimmy//Sutton
19              C.W.//Getz
20          Hugh//Juergens
21         James//Danziger
22           Malcom//Munro
23           Gordon//Davis
24    Gerardine//DeSanctis
25          Charles//Franz
26           Daniel//Robey
27        Robert//Koeblitz
28         A.R.//Montazemi
29           D.W.//Conrath
30          Izak//Benbasat
...                    ...
1656         Robert//Felix
1657      Charles//Kriebel
1658         Prabuddha//De
1659             Arun//Sen
1660            John//Jung
1661      Lawrence//Foster
1662          David//Flynn
1663        Chris//Edwards
1664       Richard//Mezger
1665          Byron//Lewis
1666         Albert//Crews
1667       James//Courtney
1668        Donald//Ballou
1669            Giri//Tayi
1670           Elie//Harel
1671        Michael//Shank
1672      David//Schilling
1673    Ananth//Srinivasan
1674    Charles//Dickinson
1675      James//Kraushaar
1676       Larry//Shirland
1677        Beverely//Kahn
1678    Nicholas//Vitalari
1679    Margaret//Rathwell
1680           Alan//Burns
1681         Nick//Rackoff
1682        Charles//Ph.D.
1683      R.A.//Hirschheim
1684        Marius//Janson
1685             L.//Smith

[1685 rows x 6 columns]

In [36]:
df["institution"].value_counts()

                                                                                      858
City University of Hong Kong                                                           24
Georgia State University                                                               17
Carnegie Mellon University                                                             14
University of Minnesota                                                                14
University of Arizona                                                                  13
Temple University                                                                      13
University of Maryland                                                                  9
University of Arkansas                                                                  8
Maastricht University                                                                   8
Brigham Young University                                                                8
University of Georgia                                                                   8
Clemson University                                                                      7
Mississippi State University                                                            7
Yonsei University                                                                       7
Georgia Institute of Technology                                                         7
McGill University                                                                       7
Korea Advanced Institute of Science and Technology                                      7
London School of Economics and Political Science                                        6
University of Kentucky                                                                  6
University of Cambridge                                                                 6
National University of Singapore                                                        6
University of Texas at Dallas                                                           6
University of Texas at Arlington                                                        6
Michigan State University                                                               6
University of North Texas                                                               6
University of British Columbia                                                          6
University of Washington                                                                5
University of Houston                                                                   5
Copenhagen Business School                                                              5
                                                                                     ...
Dakota State University                                                                 1
Soochow University                                                                      1
Naval Postgraduate School                                                               1
Erasmus University                                                                      1
Abo Akademi University                                                                  1
SUNY-Buffalo, Buffalo,and Sogang University                                             1
University of Bamberg, Germany                                                          1
Newscron Ltd., Switzerland                                                              1
National Taipei University                                                              1
Central Queensland University                                                           1
Florida State University                                                                1
Ryerson University                                                                      1
National Chiayi University                                                              1
The University of British Columbia                                                      1
Virginia Polytechnic Institute and State University                                     1
University of South Florida - Tampa                                                     1
University of Warwick                                                                   1
University of Florida                                                                   1
Simsion and Associates                                                                  1
College of William & Mary                                                               1
Warwick Business School                                                                 1
University of Colorado at Colorado Springs                                              1
Roskilde University                                                                     1
HKUST                                                                                   1
San Jose State University                                                               1
Hawaii Pacific University                                                               1
Information Systems and Innovation Group London School of Economics United Kingdom      1
IAE, LEM-Nantes                                                                         1
Virginia Military Institute                                                             1
Dell SecureWorks                                                                        1
Name: institution, dtype: int64

In [38]:
df['email'].value_counts()

                                           853
gerald.kane@bc.edu                           3
dcompeau@ivey.uwo.ca                         2
bagozzi@umich.edu                            2
price@uta.edu                                2
ajohnston@uab.edu                            2
snerur@uta.edu                               2
gefend@drexel.edu                            2
baskerville@acm.org                          2
kudaravalli@hec.fr                           2
psidhu@cmu.edu                               2
thess@isenberg.umass.edu                     2
s.v.scott@lse.ac.uk                          2
jsv@wsu.edu                                  2
wchin@uh.edu                                 2
suebrown@eller.arizona.edu                   2
abw@uts.cc.utexas.edu                        2
misq@umn.edu                                 2
sambamurthy@bus.msu.edu                      2
aeh.chua@auckland.ac.nz                      2
xiaobai_li@uml.edu                           1
issliao@cityu.edu.hk                         1
juhee.kwon@cityu.edu.hk                      1
yulin.fang@cityu.edu.hk                      1
staylor@business.msstate.edu                 1
hunan@smu.edu.sg                             1
rene.riedl@jku.at                            1
langen@rpi.edu                               1
da2@lubs.leeds.ac.uk                         1
chendongyu@suda.edu.cn                       1
                                          ...
pentlan2@msu.edu                             1
boland@case.edu                              1
harpreet@utdallas.edu                        1
maytal@mail.utexas.edu                       1
srivastava@hec.fr                            1
ekarah@uga.edu                               1
nevod@rpi.edu                                1
voelckner@wiso.uni-koeln.de                  1
Susan.Mudambi@temple.edu                     1
carmel@american.edu                          1
iskl@cityu.edu.hk                            1
d.gengatharen@ecu.edu.au                     1
rkishore@buffalo.edu                         1
y.merali@hull.ac.uk                          1
yinglei.wang@acadiau.ca                      1
Nancy.Wuenderlich@wiwi.uni-paderborn.de      1
edhahn@salisbury.edu                         1
sborgatti@uky.edu                            1
podsakoff@email.arizona.edu                  1
omar.elsawy@marshall.usc.edu                 1
njihia@uonbi.ac.ke                           1
mmorris@virginia.edu                         1
iarikan@kent.edu                             1
c.sorensen@lse.ac.uk                         1
julio.molina.orrego@gmail.com                1
jgoo@fau.edu                                 1
ick881@ou.edu                                1
yul14@psu.edu                                1
mds@andrew.cmu.edu                           1
tjhess@som.umass.edu                         1
Name: email, dtype: int64